# .coveragerc to control coverage.py
[run]
branch = True

report]

exclude_lines =
    if __name__ == .__main__.:

    raise NotImplementedError

    except FileNotFoundError as error:


ignore_errors = True

[html]
directory = coverage_html_report